.page .layout > .recent-posts .pagination > a:hover {
  background: #00c4b6;
}
/* 翻页按钮悬停颜色 */
.layout > .recent-posts .pagination > a {
border: var(--style-border);
}
/* 调整添加原生边框 */
#pagination .pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center
}

.page .layout .recent-posts #pagination .pagination .prev {
  left: 0
}

.page .layout .recent-posts #pagination .pagination .next {
  right: 0
}

.page .layout .recent-posts #pagination .pagination .next,.page .layout .recent-posts #pagination .pagination .prev {
  position: absolute;
  margin: 0 0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 5.25em;
  overflow: hidden;
}

.page .layout .recent-posts #pagination .pagination .prev:hover .pagination_tips_prev {
  margin-right: 5.5px;
  opacity: 1;
}

.page .layout .recent-posts #pagination .pagination .prev .pagination_tips_prev {
  margin-right: -26px;
  transition: margin-right .3s;
  opacity: 0;
}

.page .layout .recent-posts #pagination .pagination .next:hover .pagination_tips_next {
  margin-left: 5.5px;
  opacity: 1;
}

.page .layout .recent-posts #pagination .pagination .next .pagination_tips_next {
  margin-left: -26px;
  transition: margin-left .3s;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .page .layout .recent-posts #pagination .pagination .next,.page .layout .recent-posts #pagination .pagination .prev {
      position: sticky;
      margin: 0 6px;
      display: inline-block;
      width: 2.5em;
  }

  .page .layout .recent-posts #pagination .pagination .next .pagination_tips_next,.page .layout .recent-posts #pagination .pagination .prev .pagination_tips_prev {
      display: none;
  }
}

.pagination input {
  width: 2.5em;
  height: 2.5em;
  border-radius: 8px;
  border: var(--style-border-always);
  transition: all .3s;
  outline-style: none;
  padding-left: 12px;
  background: var(--kchris-secondbg);
  color: var(--kchris-fontcolor);
}

.pagination .toPageGroup input:focus,.pagination .toPageGroup:hover input {
  border: 1px solid #00c4b6;
  outline-style: none;
  width: 100px;
}

.toPageGroup {
  display: inline-flex!important;
  position: relative;
  margin: 0 6px!important;
}

a#toPageButton {
  display: flex;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  background: var(--card-bg);
  border: var(--style-border-always);
  cursor: text!important;
  pointer-events: none;
}

a#toPageButton i {
  padding-left: 2px;
}

.toPageGroup:focus-within a#toPageButton,.toPageGroup:hover a#toPageButton {
  margin-top: 4px;
  width: 27px;
  height: 27px;
  margin-left: 70px;
  background: var(--kchris-card-bg);
  border: 1px solid var(--kchris-none);
  border-radius: 4px;
  opacity: .2;
  transition: all .3s!important;
  padding-left: 3px;
}

.toPageGroup:focus-within a#toPageButton.haveValue {
  opacity: 1;
  cursor: pointer;
}

a#toPageButton.haveValue {
  opacity: 1!important;
  cursor: pointer!important;
  pointer-events: all;
}

a#toPageButton.haveValue:hover {
  background: var(--kchris-theme);
  color: var(--kchris-white);
}

@media screen and (max-width: 768px) {
  .toPageGroup {
      display:none!important;
  }
}

/* 页数跳转按钮 */
<link rel="stylesheet" href="/css/spoiler.css" type="text/css"><script src="/js/spoiler.js" type="text/javascript" async></script>