/* 我的游戏 */
.game-item-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -8px;
  }
  
  .game-item-content-item {
    width: calc(25% - 12px);
    border-radius: 12px;
    border: var(--style-border-always);
    overflow: hidden;
    margin: 8px 6px;
    background: var(--kchris-card-bg);
    box-shadow: var(--kchris-shadow-border);
    min-height: 400px;
    position: relative;
  }
  
  @media screen and (max-width: 1200px) {
    .game-item-content-item {
      width: calc(50% - 12px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .game-item-content-item {
      width: 100%;
    }
  }
  
  .game-item-content-item-info {
    padding: 8px 16px 16px 16px;
    margin-top: 12px;
  }
  
  .game-item-content-item-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
  }
  
  .game-item-content-item-specification {
    font-size: 12px;
    color: var(--kchris-secondtext);
    line-height: 1;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .game-item-content-item-description {
    line-height: 20px;
    color: var(--kchris-secondtext);
    height: 60px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
  }
  
  a.game-item-content-item-link {
    font-size: 12px;
    background: var(--kchris-gray-op);
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  a.game-item-content-item-link:hover {
    background: #ff7242;
    color: var(--kchris-white);
  }
  
  h2.game-item-title {
    line-height: 1;
  }
  
  .game-item-description {
    line-height: 1;
    margin: 4px 0 8px 0;
    color: var(--kchris-secondtext);
  }
  
  .game-item-content-item-cover {
    width: 100%;
    height: 200px;
    background: var(--kchris-secondbg);
    display: flex;
    justify-content: center;
  }
  
  img.game-item-content-item-image {
    object-fit: cover;
    height: 100%;
  }
  
  div#game {
    margin-top: 26px;
  }
  
  .game-item-content-item-toolbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    padding: 0 16px;
  }
/*   
  a.bber-reply {
    cursor: pointer;
  } */